{% extends 'base.html.twig' %}

{% block title %}Romain CHARDON{% endblock %}

{% block body %}
    <nav>
        <a href="{{path('app_login')}}">Login</a>
    </nav>
    <section id="projet-container">
        <div class="projet-group">
            {% for projet in projets %}
                <div class="projet">
                    <h3>{{projet.nom}}</h3>
                    <a href="{{projet.lien}}">{{projet.lien}}</a>
                    <a href="{{projet.repo}}">{{projet.repo}}</a>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
